In [47]:
import numpy as np
import pandas as pd

#a)Series as generalized NumPy array
arr = np.array([11,22,33,44])
series = pd.Series(arr)
print(series)
print()

#b)Series as specialized dictionary
dic = {'A':5,'B':6,'C':7,'D':8}
dicto = pd.Series(dic)
print(dicto)
print()

0    11
1    22
2    33
3    44
dtype: int32

A    5
B    6
C    7
D    8
dtype: int64

In [24]:
#c) Constructing Series objects
   
Series=pd.Series(data=[2,4,6,8,10,12,14])      
print("index:",Series.index)
print("shape:",Series.shape)
print("dtype:",Series.dtype)
print("size:",Series.size)
print("empty:",Series.empty)
print("hasnans:",Series.hasnans)
print("nbytes:",Series.nbytes)
print("ndim:",Series.ndim)

index: RangeIndex(start=0, stop=7, step=1)
shape: (7,)
dtype: int64
size: 7
empty: False
hasnans: False
nbytes: 56
ndim: 1

In [25]:

#d)DataFrame as a generalized NumPy array

df = pd.DataFrame({'numbers':arr})
print(df)
print()

   numbers
0       11
1       22
2       33
3       44

In [26]:
#e) DataFrame as specialized dictionary
sq_dic= {'A':25,'B':36,'C':49,'D':64}
sq=pd.Series(sq_dic)
df1= pd.DataFrame({'numbers':dicto,'squares':sq})
df1

   numbers  squares
A        5       25
B        6       36
C        7       49
D        8       64

In [27]:
#f) Constructing DataFrame objects:
#i. From a single Series object.
pd.DataFrame(df1, columns=['squares'])

   squares
A       25
B       36
C       49
D       64

In [28]:
#ii. From a list of dicts.
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [29]:
#iii. From a dictionary of Series objects    
pd.DataFrame({'numbers':dicto,'squares':sq})

   numbers  squares
A        5       25
B        6       36
C        7       49
D        8       64

In [31]:
#iv. From a two-dimensional NumPy array.
pd.DataFrame(np.random.rand(2),
             columns=['a', 'b', 'c'],
             index=['foo', 'bar'])

            a         b         c
foo  0.051835  0.159725  0.124724
bar  0.997618  0.594684  0.636723

In [32]:
#v. From a NumPy structured array.
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print(A)
pd.DataFrame(A)

[(0, 0.) (0, 0.) (0, 0.)]

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [34]:


#g) Index as immutable array
ind = pd.Index([2, 3, 5, 7, 11])
print(ind[1])
print(ind[::2])
ind[1] = 0

3
Int64Index([2, 5, 11], dtype='int64')

TypeError: Index does not support mutable operations

In [37]:
#h) Index as ordered set.
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print("intersection:",indA & indB)
print(" union:",indA | indB)
print("symmetric difference",indA ^ indB  )

intersection: Int64Index([3, 5, 7], dtype='int64')
 union: Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
symmetric difference Int64Index([1, 2, 9, 11], dtype='int64')

C:\Users\y20ca17\AppData\Local\Temp/ipykernel_13972/77498708.py:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print("intersection:",indA & indB)
C:\Users\y20ca17\AppData\Local\Temp/ipykernel_13972/77498708.py:5: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(" union:",indA | indB)
C:\Users\y20ca17\AppData\Local\Temp/ipykernel_13972/77498708.py:6: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  print("symmetric difference",indA ^ indB  )

In [38]:
#i) Data Selection in Series:
import pandas as pd

#i. Series as dictionary
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [39]:
#ii. Series as one-dimensional array
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [40]:
#iii. Indexers: loc, iloc, and ix
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [41]:
# explicit index when indexing
print(data[1])
# implicit index when slicing
data[1:3]

a

3    b
5    c
dtype: object

In [42]:
#Loc
print(data.loc[1])
data.loc[1:3]

a

1    a
3    b
dtype: object

In [43]:
#iloc
print(data.iloc[1])
data.iloc[1:3]

b

3    b
5    c
dtype: object

In [51]:
#j) Data Selection in DataFrame

dic = pd.Series({'A':5,'B':6,'C':7,'D':8})
sq_dic= pd.Series({'A':25,'B':36,'C':49,'D':64})

df1= pd.DataFrame({'num':dicto,'squa':sq})
df1

   num  squa
A    5    25
B    6    36
C    7    49
D    8    64

In [49]:
#ii 
df = pd.DataFrame({'color':['black','white','orange']*2,
                  'car model':['mustang','cadillac']*3,
                  'value':np.arange(1,7)})
df

    color car model  value
0   black   mustang      1
1   white  cadillac      2
2  orange   mustang      3
3   black  cadillac      4
4   white   mustang      5
5  orange  cadillac      6